* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* starting of heading  */

.header {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.header__title {
  color: #444;
  font-size: 2rem;
  line-height: 3rem;
}
.header__title::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  border-bottom: 2px solid #c70a09;
}

/* starting of grid  */

.grid__wraper {
  max-width: 80vw;
  margin: 5rem auto;
}
.grid__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  min-width: 300px;
  height: 330px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card:nth-child(4) {
  grid-column: 2/4;
}

.card:nth-child(1) {
  grid-column: 1/3;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.card__image:hover {
  transform: scale(1.1);
}
.card:nth-child(5) {
  height: 210px;
}
.card:nth-child(6) {
  height: 210px;
}
.card:nth-child(7) {
  height: 210px;
}

.card__content {
  position: absolute;
  left: 2rem;
  bottom: -1.9rem;
  color: white;
  transition: bottom 0.5s ease-in-out;
}

.card__content:hover {
  bottom: 0.5rem;
}

.card__category {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  color: rgb(233, 233, 233);
}
.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.card__span {
  font-size: 1rem;
  color: rgba(231, 231, 231, 0.6);
  margin-bottom: 1rem;
}
a {
  color: #fff;
  text-decoration: none;
}
